<ion-view view-title="main">
  <ion-content  ng-click="showPopout($event)">
    <h1>Tap Anywhere</h1>
    <!-- <div class="circleButton">
      <i class="icon ion-heart"></i>
    </div>
    <div class="circleButton">
      <i class="icon ion-wrench"></i>
    </div> -->
    <!-- <div>
      <button ng-click="">Open Popover</button>
    </div> -->
    <svl-popout-buttons>
      <svl-popout-button ng-click="test1()">
        <i class="icon ion-heart"></i>
      </svl-popout-button>
      <svl-popout-button ng-click="test2()">
        <i class="icon ion-wrench"></i>
      </svl-popout-button>
      <svl-popout-button>
        <i class="icon ion-erlenmeyer-flask"></i>
      </svl-popout-button>
      <svl-popout-button ng-click="test3()">
        <i class="icon ion-pizza"></i>
      </svl-popout-button>
      <svl-popout-button>
        <i class="icon ion-beer"></i>
      </svl-popout-button>
      <svl-popout-button>
        <i class="icon ion-leaf"></i>
      </svl-popout-button>
      <svl-popout-button>
        <i class="icon ion-nuclear"></i>
      </svl-popout-button>
      <svl-popout-button>
        <i class="ion-flame"></i>
      </svl-popout-button>
    </svl-popout-buttons>
  </ion-content>
</ion-view>
